:root {
  --main: #e2611b;
  --secondary: #FFBF9C; /* #EFA37A; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited, a:active {
  color: var(--main);
  text-decoration: none;
}
a:hover {
  color: var(--main);
  text-decoration: none;
}
/* Login form */
#login {
  width: 450px;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 1em;
  margin: auto;
  margin-top: 5em;
}

/* General form */
label {
  font-size: 1.1em;
}
input {
  box-sizing: border-box;
  padding:0.5em;
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
}

input[type=submit] {
  background-color: var(--main);
  color: #fff;
}


/* General layout */
.text-center {
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
}


/* Boxes */
.notice {
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid black;
}
.warning {
  background-color: var(--secondary);
  color: #000;
}


/* DMS layout */
#page-top {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 50px;
  border-bottom: 1px solid var(--main);
  padding:7px;
  box-sizing: border-box;
}

#page-middle {
  position:absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 50px;
}

#page-middle-left {
  position: absolute;
  top:0px;
  bottom: 0px;
  left: 0px;
  width: 330px;
  overflow-y: scroll;
  padding: 10px;
}

#page-middle-right {
  position: absolute;
  top:0px;
  bottom:0px;
  right:0px;
  left:350px;
}

#page-middle-right-top {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 50%;
  border-bottom: 1px solid var(--main);
  overflow-y: scroll;
}

#page-middle-right-bottom {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#page-bottom {
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 50px;
  border-top: 1px solid var(--main);
  padding: 7px;
  box-sizing: border-box;
}

#logo {
  float: left;
  margin-right: 10px;
}

/* Lists */
ul.list {
  list-style-type: none;
  padding: 0;
}

ul.list > li.category {
  font-weight: bold;
  padding: none;
}

ul.list > li.category > ul {
  padding-left: 0.5em;
}

ul.list > li.category > ul > li.folder {
  font-weight: normal;
  list-style-type: none;
  padding: 0;
}
