:root {
  --main: #E2611B;
  --secondary: #FFBF9C; /* #EFA37A; */
  --dark: #A2611B;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited, a:active {
  color: var(--main);
  text-decoration: none;
}
a:hover {
  color: var(--main);
  text-decoration: none;
}
/* Forms */
#form {
  width: 450px;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 1em;
  margin: auto;
  margin-top: 5em;
}


/* General form */
label {
  font-size: 1.1em;
}
input, select, textarea {
  box-sizing: border-box;
  padding:0.5em;
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
}

textarea {
  height: 12em;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--main);
  color: #fff;
}


/* General layout */
.text-center {
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
}


/* Boxes */
.notice {
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid black;
}
.warning {
  background-color: var(--secondary);
  color: #000;
}


/* DMS layout */
#page-top {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 50px;
  border-bottom: 1px solid var(--main);
  padding:7px;
  box-sizing: border-box;
}

#page-middle {
  position:absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 50px;
  overflow-x: auto;
}

#page-middle-left {
  position: absolute;
  top:0px;
  bottom: 0px;
  left: 0px;
  width: 330px;
  overflow-y: auto;
  border-right: 1px solid var(--main);
  padding: 10px;
}

#page-middle-right {
  position: absolute;
  top:0px;
  bottom:0px;
  right:0px;
  left:350px;
}

#page-middle-right-top {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 50%;
  border-bottom: 1px solid var(--main);
  overflow-y: auto;
  padding: 0 1.2em;
  padding-bottom: 1em;
}

#page-middle-right-bottom {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y:auto;
}

#page-middle-right-bottom h2 {
  padding: 0 1.2em;
}

#page-bottom {
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 50px;
  border-top: 1px solid var(--main);
  padding: 7px;
  box-sizing: border-box;
}

#logo {
  float: left;
  margin-right: 10px;
}

/* File formatting */
#page-middle-right-bottom img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#page-middle-right-bottom audio {
  width: 90%;
  padding-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Lists */
ul.list {
  list-style-type: none;
  padding: 0;
}

ul.list > li.category {
  font-weight: bold;
  padding: none;
}

ul.list > li.category > ul {
  padding-left: 0.5em;
}

ul.list > li.category > ul > li.folder {
  font-weight: normal;
  list-style-type: none;
  padding: 0;
}

/* table layout */
.fileTable {
  width: 100%;
  border: 1px solid black;
}

.fileTable td, .fileTable th {
  padding: 5px;
  border-collapse: column;
  margin: 0;
}

.fileTable tr:hover {
  background: #efefef;
}

.fileTable tr.selected {
  background: var(--main);
  color: #fff;
  font-weight: bold;
}

.fileTable tr.selected a {
  color: #fff;
}

.fileTable tr.selected:hover {
  background: var(--dark);
}

.fileTable tr td a:hover {
  text-decoration: underline;
}

.fileTable tr.thead:hover {
  background: unset;
}
/* Countdown timer */
#timer {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 200px;
  color: var(--main);
}


/* File uplaod */

input[type=file] {
  border: 4px dashed #eee;
  border-radius: 1em;
  display: inline-block;
  cursor: pointer;
  width:100%;
  height:125px;

}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}


input[type=file]::before {
  content: 'Choose a document';
  display: inline-block;
  background: #eee;
  border: 1px solid #999;
  width: 170px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  margin: auto;
  font-weight: 700;
  font-size: 10pt;
  position: absolute;
  left: 50%;
  margin-left: -85px;
  margin-top: 30px;
}

input[type=file]:hover::before {
  border-color: black;
}

input[type=file]:active::beffore {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}